<h1><%= link_to @space.name, @space %> / <%= link_to @category.name, [@space, @category] %> / New Resource</h1>

<%= simple_form_for [@space, @category, @resource] do |f| %>
  <%= f.input :name %>
  <div class="input select optional">
    <%= f.label :member_cobot_id, 'Member' %>
    <%= f.select :member_cobot_id, @space.members.map {|m| [m.name, m.id] } %>
  </div>
  <%= f.submit 'Add Resource' %>
<% end %>

<p><%= link_to 'back', [@space, @category] %></p>
