<div class="cb-section">
  <div class="cb-container">
    <h1>New Resource</h1>
    <div class="form-block form-block--wide">
      <%= form_for [@space, @category, @resource] do |f| %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'input--stretch', required: true %>
        </p>
        <p>
          <%= f.label :member_cobot_id, 'Member' %>
          <%= f.select :member_cobot_id, @space.members.map {|m| [m.name, m.id] },
            {include_blank: true}, class: 'input--stretch'%>
        </p>
        <p>
          <%= f.submit 'Add Resource', class: 'btn btn--primary btn--full' %>
        </p>
      <% end %>
    </div>
    <p><%= link_to 'back', [@space, @category] %></p>
  </div>
</div>
