<h1><%= link_to @space.name, @space %> / <%= @category.name %></h1>

<p><%= link_to 'Remove Category', [@space, @category], method: :delete %></p>

<ul>
  <% @category.resources.each do |resource| %>
    <li>
      <%= link_to resource.name, [@space, @category, resource] %>
      <% if resource.member %>
        (<%= resource.member.name %>)
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'back', [@space] %></p>