<h1><%= link_to @space.name, @space %> / <%= @category.name %></h1>

<p>
  <%= link_to 'Remove Category', [@space, @category], method: :delete, confirm: 'Really remove this category?' %>,
  <%= link_to 'Add Resource', [:new, @space, @category, :resource] %>
 </p>

<ul>
  <% @category.resources.each do |resource| %>
    <li>
      <%= link_to resource.name, [@space, @category, resource] %>
      <% if resource.member_name? %>
        (<%= resource.member_name %>)
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'back', [@space] %></p>
