<div class="cb-section">
  <div class="cb-container">
    <h1><%= @category.name %></h1>
    <p class="f--right">
      <%= link_to 'Remove Category', [@space, @category], method: :delete, data: {confirm: 'Really remove this category?'},
        class: 'btn btn--admin-header btn--full btn--primary' %>
      <%= link_to 'Add Resource', [:new, @space, @category, :resource], class: 'btn btn--admin-header btn--full btn--primary' %>
    </p>

    <p><%= @category.resources.reject(&:member_name?).size %> out of <%= @category.resources.size %> resources free.</p>

    <div class="grid grid--full tablet-grid--1of2">
      <% 2.times do |n| %>
        <div class="grid-cell">
          <%= render 'resources', resources: @category.resources.order(:name).in_groups(2, false)[n],
            space: @space, category: @category %>
        </div>
      <% end %>
    </div>
    <p><%= link_to 'back', [@space] %></p>
  </div>
</div>
