<!DOCTYPE html>
<html>
<head>
  <title>OfficeSpace</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  <h1 class="logo"><%= image_tag 'logo_office_space.png' %></h1>

  <div class="header">
      <% if current_user %>
      <nav>
        <%= link_to 'Home', spaces_path %>
      </nav>
    <% end %>
  </div>

  <% flash.each do |type, message| %>
    <% if message %>
      <p class="flash <%= type %>"><%= message %></p>
    <% end %>
  <% end %>

  <div class="main">    
    <%= yield %>
  </div>

  <div class="footer">
    <p class="left">
      &copy; <%= Date.today.year %> 
      <%= link_to "Upstream - Agile GmbH", "http://upstre.am" %>
    </p>
  </div>
</body>
</html>
